  
  <img src="/public/images/headerimage.jpg" class="header-image"></img>

    <hr>
  
    <a href="/">Home </a>
    <div class="dropdown">
            <button class="dropbtn">Jake's Interests</button>
            <div class="dropdown-content">
              <p style="background-color: brown">Each page links to Interests temporarily</p>
                <a href="interests">Comedy</a>
                <a href="interests">Gaming</a>
                <a href="interests">Pro Wrestling</a>
                <a href="interests">Mind | Body | Spirit</a>
                <a href="interests">UFO / UAP</a>
                <a href="interests">Video Editing</a>
            </div>
            </div>
    <a href="/interests"> Interests </a>
    <a href="projects"> Projects </a> 
    <a href="services"> Services </a> 
    <a href="about"> About Jake </a>
    <a href="/contact"> Contact Jake </a>
    <hr>


