<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">  
    <%- include("partials/header") -%>
  </head>


  <body>

    <main>
      <h1 class="h1_intro" style="font-size: 44">About Jake</h1>   

      <body>      
          <p class="p_about">I will use this space to speak candidly about myself, not in the third person.
          <br>
          <br>
      My name is Jake, and though I was born Jacob, Jake is my nickname. I was born in 1990 and gained active consciousness when I was about 5. I grew up in British Columbia, Canada, in the rapidly growing city of Surrey in a household that is not appropriate for any kid to grow up in, but I learned a lot because of that. They say "better safe than Surrey" and in some ways that would be an accurate statement, but I have seen the city evolve from what I could remember in the mid-late 90s, until just last year. 
          <br>
          <br>
      Now I live in the United States with my super beautiful wife while I am enrolled in a post-secondary education facility following my passion, while I keep my dreams simmering for the time being for when the time is right.
          <br>
          <br>
      Much like every other person on this planet, I am growing and learning and taking each day one step at a time. I try to be better than I was the day before, which comes with its own challenges. I believe everyone at any stage of life will always have the opportunity to learn and therefore grow. We are all in this together, and the recipe for happiness I've found is to be grateful and honest with the people you love. 
          <br>
          <br>
              
      <img src="images/Jakesit.jpg" alt="Jake sit" style="width:294px;height:392px;"> </p>
      <p><a href="pdf">My Resume (outdated)</a></p>
    </main>
          


  <table class="tableLeft" style="border-spacing: 12px;">
  <a href="https://twitter.com/Krobelux" target="_blank"><img src="images/twitter%20logo.jpg"> </img></a>
  
  <a href="https://www.youtube.com/channel/UCNCtsOJO_7uNSVHEvMIwGGw" target="_blank"><img src="images/youtube%20logo%20bw.jpg"></img></a>   
  
  <a href="https://www.instagram.com/krobulex/" target="_blank"><img src="images/instagram%20logo.jpg"></img>
  </a> 
  </table>
    

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
