<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta charset="UTF-8">  
        <%- include('partials/header'); -%>
        
    </head>


    <body>
            
        
<table>   
    <tr>
    <th>What is the Jake's Space?</td>
    <th>What are Jake's Interests?</td>
    </tr>
        
    <td>The Jake's Space is a website created to host all of Jake's interests and goings-ons. If you want to learn more about the Jakester, then look no further than Jake's Space. 
    
    </td>
    
    <td><ul style="text-align: left;">
            <li>Comedy</li>
            <li>Gaming</li>
            <li>Pro Wrestling</li>
            <li>Mind, Body, and Soul</li>
            <li>UFOs/UAPs</li>
            <li>Video Editing</li>
            </ul>
        <br>
        <br>
        More detail on each of Jake's interests will encompass their own space somewhere within Jake's Space.
    </td>
        
</table>


<table>   
    <tr>
    <th>Comedy</td>
    <th>Gaming</td>
    </tr>
        
    <td><a href="interests"> <img src="images/stand-up-comedy-stock.jpg" alt="Stand-up POV" style="width:480px;height:320px;"> </a>
        <br>
        Jake loves comedy. Click the image above to learn more. </td>
    
    <td>
        <a href="interests"> <img src="images/gaming-collage.jpeg" alt="Gaming peripherals" style="width:480px;height:320px;"> </a>
        <br>
        Jake loves gaming. Click the image above to learn more.
    </td>
            
</table>

<table>   
    <tr>
    <th>Pro Wrestling</td>
    <th>Mind, Body & Soul</td>
    </tr>
        
    <td>
        <a href="interests"><img src="images/old%20school%20pro%20wrestling.jpg" alt="Pro wrestling" style="width:480px;height:320px;"></a>
        <br>
        Jake loves Pro Wrestling. Click the image above to learn more. </td>
    
    <td>
        <a href="interests"><img src="images/after%20skool%20mind%20body%20soul.jpg" alt="Credit: After Skool" style="width:480px;height:320px;"></a>
        <br>
        Jake loves the mind, body and soul and learning more about this. Click the image above to learn more.
    </td>
            
</table>
        

<table>   
    <tr>
    <th>UFOs/UAPs</td>
    <th>Video Editing</td>
    </tr>
        
    <td>
        <a href="interests"><img src="images/uap%20capture.jpg" alt="UAP Radar Capture" style="width:480px;height:320px;"></a>
        <br>
         Jake loves the paranormal, most specifically involved with UFO/UAPs. Click the image above to learn more. </td>
    
    <td>
        <a href="interests"><img src="images/film%20editing.jpg" alt="Video Editing" style="width:480px;height:320px;"></a>
        <br>
        Video editing on YouTube is a hobby Jake loves. Click the image above to learn more, or watch his latest video down below:
        <br>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xdhVtI6GP1Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    </td>
            
</table>

        
<table class="tableLeft" style="border-spacing: 12px;">
<a href="https://twitter.com/Krobelux" target="_blank"><img src="images/twitter%20logo.jpg"> </img></a>

<a href="https://www.youtube.com/channel/UCNCtsOJO_7uNSVHEvMIwGGw" target="_blank"><img src="images/youtube%20logo%20bw.jpg"></img></a>   

<a href="https://www.instagram.com/krobulex/" target="_blank"><img src="images/instagram%20logo.jpg"></img>
</a>
    

</table>

<div id="footer">
    <%- include("partials/footer") -%>
</div>
        
    </body>
</html>