<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta charset="UTF-8">  
        <%- include('partials/header'); -%>
    </head>

    <body>
            
            <table>   
        <tr>
        <th>Comedy</td>
        <th>Gaming</td>
        </tr>
            
        <td><img src="images/stand-up-comedy-stock.jpg" alt="Stand-up POV" style="width:480px;height:320px;">
            <br>
            Comedy is something Jake studies in his spare time. Jake believes if someone is more in tune with their comedic side, they'll realize that there are many benefits to it. Jake has ideas for a comic strip, stand-up bits, and small skits, but in order for each of these to be a success, Jake must truly understand comedy and comedy theory. </td>
        
        <td>
            <img src="images/gaming-collage.jpeg" alt="Gaming peripherals" style="width:480px;height:320px;">
            <br>
            Much like many other milennials, Jake has been a fan of video games since he can remember. Jake thinks video games can be really important in the development of younger people, as it gives access to many unusual and unique scenarios that really get the brain juices flowing.
        </td>
                
    </table>
    
    <table>   
        <tr>
        <th>Pro Wrestling</td>
        <th>Mind, Body & Soul</td>
        </tr>
            
        <td>
            <img src="images/old%20school%20pro%20wrestling.jpg" alt="Pro wrestling" style="width:480px;height:320px;">
            <br>
            Jake has enjoyed Pro Wrestling since he was 7. At the time, Pro Wrestling was arguably nearing its peak in what would be known as the Attitude Era. It wouldn't be until a new contender in the form of AEW would reinvigorate Jake's love for the sport once again. "A lot of wrestling sucks, but when it's good, it's fucking great." - Max Landis, Wrestling Isn't Wrestling. </td>
        
        <td>
            <img src="images/after%20skool%20mind%20body%20soul.jpg" alt="Credit: After Skool" style="width:480px;height:320px;">
            <br>
            A few years ago, Jake discovered self-help and through that journey, he discovered what it means to be true to himself. That was just the first step on the wild journey of self-discovery and outward discovery. Through understanding one's self, one can begin to unravel the universe.
        </td>
                
    </table>
            
    
    <table>   
        <tr>
        <th>UFOs/UAPs</td>
        <th>Video Editing</td>
        </tr>
            
        <td>
            <img src="images/uap%20capture.jpg" alt="UAP Radar Capture" style="width:480px;height:320px;">
            <br>
             The paranormal has always interested Jake since he was a kid. Over time, his interest in it dipped as he learned that much of the paranormal (such as ghosts, demons, mythical creatures, urban legends, etc.) was unsubstantiated for the most part. The topic of Unidentifed Aerial Phenomenon, however, is very much a real thing. When the United States (and former president Barack Obama) came out and acknowledged that there are indeed unexplainable things flying freely in our air space, with no sign of propulsion or noise or water displacement (in terms of witnessing these objects submerge underwater), it has blown the topic wide open. Hoping for some eventual sign of true disclosure, Jakester keeps a close eye on the latest updates to this evolving phenomenon. </td>
        
        <td>
            <img src="images/film%20editing.jpg" alt="Video Editing" style="width:480px;height:320px;">
            <br>
            Video Editing was one of Jake's first self-taught skills he learned when he was 19. When he was inspired to make a music video with basic cutting and pasting tools on an audio/video timeline in Windows Movie Maker, he had no idea how far that would take him. Now with somewhat competent Adobe Premiere skills, Jake makes videos to both improve his skills and keep alive the moments in time he has captured with his friends.
        </td>
                
    </table>
        
        
        
        
        <table class="tableLeft" style="border-spacing: 12px;">
    <a href="https://twitter.com/Krobelux" target="_blank"><img src="images/twitter%20logo.jpg"> </img></a>
    
    <a href="https://www.youtube.com/channel/UCNCtsOJO_7uNSVHEvMIwGGw" target="_blank"><img src="images/youtube%20logo%20bw.jpg"></img></a>   
    
    <a href="https://www.instagram.com/krobulex/" target="_blank"><img src="images/instagram%20logo.jpg"></img>
    </a>
        
    
    </table>
    
    <div id="footer">
        <%- include("partials/footer") -%>
    </div>
            
        </body>
    </html>