<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">  
    <%- include("partials/header") -%>
  </head>


  <body>

    <main>
      <h1 class="h1_intro" style="font-size: 44">Jake's Projects</h1>   

      <body>      
          <p>Jake has numerous projects ranging from different genres of work.
            He enjoys writing comedy, making videos, etc. and he has a few projects in their smallest form right now.
            </p>
          <br>
          <br>
            <h2>Project Bloo's Island</h2> <img src="public/images/bloobed.jpeg" alt="Bloo on bed">
            <p>As comedy is a big component of Jake's life, he has written down many ideas and learned so much that he wants 
            to apply it creatively. Jake has come up with a comic book idea, based around the personalities of the animals 
            (cats, dogs, crows, cockatiels, etc.) that he has encountered. Jake had to live with his parents briefly 
            before moving to the states, and during this time, it was a very insightful experience that inspired him to
            create this comic book. Now if only Jake can learn to draw...
            </p>
          <br>
          <br>
            <h2>YouTube</h2> <img src="public/images/jakeunityprojects.PNG" alt="Jake's YouTube Channel">
            <p>Around Jake's Space you can find a link to his YouTube channel. During a time in the mid-2010s Jake garnered 
            a small fanbase on Twitch.tv and YouTube. Though Jake isn't very active anymore, he keeps a giant document 
            of ideas so that when he has time, he will create more content. Now that Jake has learned much in the ways 
            of comedy, he will likely to live skits that bring humour to all.
            </p>
          <br>
          <br>
            <h2>Game Development</h2> <img src="public/images/myyoutube.PNG" alt="Jake's Unity Projects">
            <p>Jake is developing a Mystery Dungeon style game. His favourite kinds of games are those that are dynamic; as in 
            they're different each time you pick it up and play. The Action RPG Path of Exile being one of his favourite games, 
            he wanted to make his own game in a similarly complex style and depth though of a different genre than Path of Exile.
          <br>
          <br>
            </p>
    </main>
          


  <table class="tableLeft" style="border-spacing: 12px;">
  <a href="https://twitter.com/Krobelux" target="_blank"><img src="images/twitter%20logo.jpg"> </img></a>
  
  <a href="https://www.youtube.com/channel/UCNCtsOJO_7uNSVHEvMIwGGw" target="_blank"><img src="images/youtube%20logo%20bw.jpg"></img></a>   
  
  <a href="https://www.instagram.com/krobulex/" target="_blank"><img src="images/instagram%20logo.jpg"></img>
  </a> 
  </table>
    

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
