<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">  
    <%- include("partials/header") -%>
  </head>


  <body>

    <main>
        <table>   
            <tr>
            <th>What services does Jake provide?</td>
            <th>Services in detail</td>
            </tr>
                
            <td>Jake has spent much of his time since 2001 on the internet. It's through this avenue that he has explored his interests while also
                learning new skills. Many of these skills are still being nurtured to this day, however any chance Jake has to improve these skills
                he will maybe try to take the opportunity. Over to the right you can see a list of services Jake has to offer you, potential person.
            
            </td>
            
            <td><ul style="text-align: left;">
                    <li>Video Editing</li>
                    <img src="images/film%20editing.jpg" alt="Video Editing" style="width:240px;height:160px;">
                    <p>Jake has spent over 10 years doing video editing as a hobby. He can help do very simple edits for you. Jake enjoys compiling 
                        footage together as well as music videos.
                    </p>
                    <li>Video Game Coaching</li>
                    <img src="images/gaming-collage.jpeg" alt="Gaming peripherals" style="width:240px;height:160px;">
                    <p>Since Jake was incepted, he was able to quickly become quite good at most video games he has put lots of time in. Jake understands 
                        that video games are simply programs designed to respond to a user's input. As such, he has not only an incredible intuition for 
                        this subject matter, but he can also help figure out your goals and help you achieve your next level up.
                    </p>
                    <li>Comedy Shadow Writing</li>
                    <img src="images/stand-up-comedy-stock.jpg" alt="Stand-up POV" style="width:240px;height:160px;">
                    <p>Jake has had an interest since he discovered sitcoms as a child. It wasn't until some years ago that Jake decided to pick up a 
                        book. Not just any book, but How to Write Funny by Scott Dikkers. Since then, Jake has learned the fundamentals when it comes 
                        to creating humour out of any situation. He also understands that humour requires subtext (unless you're doing poop jokes).
                    </p>
                    <li>Mind, Body, and Soul</li>
                    <img src="images/after%20skool%20mind%20body%20soul.jpg" alt="Credit: After Skool" style="width:240px;height:160px;">
                    <p>Jake spent much of his 20s much like any teenager would. As such, he was underprepared for many of life's challenges. It wasn't 
                        until he studied self-help for 2 years that he learned how to take control of life, and responsibility for his actions. Not only 
                        has Jake learned these skills, but he also spends time reflecting, meditating, and keeping a level head under all kinds of pressure.
                    </p>
                    <li>Photoshop</li>
                    <img src="images/paintnet.png" alt="Paint.Net" style="width:240px;height:160px;">
                    <p>Jake and his friends enjoy using visual software to create memes with each other. For years Jake has learned the ins and outs 
                        of Paint.Net (Photoshop equivalent) all in the name of making his friends laugh. Now, he is able to do much with the application 
                        and he can do it all.
                    </p>
                    </ul>
                <br>
                <br>
            </td>
                
        </table>
    </main>
          


  <table class="tableLeft" style="border-spacing: 12px;">
  <a href="https://twitter.com/Krobelux" target="_blank"><img src="images/twitter%20logo.jpg"> </img></a>
  
  <a href="https://www.youtube.com/channel/UCNCtsOJO_7uNSVHEvMIwGGw" target="_blank"><img src="images/youtube%20logo%20bw.jpg"></img></a>   
  
  <a href="https://www.instagram.com/krobulex/" target="_blank"><img src="images/instagram%20logo.jpg"></img>
  </a> 
  </table>
    

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
